<div id="messages" class="uk-child-width-1-1" uk-grid>
  <div class="uk-width-1-1">
    <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
  </div>
  <div class="uk-width-1-1">
    <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
  </div>
  <div class="uk-width-1-1">
    <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
  </div>
  <div class="uk-width-1-1 uk-flex joined">
    <span class="uk-label uk-label-success">Laura se unio</span>
  </div>
</div>